{
  "database": {
    "host": "database host - if you are not using a database, leave this field blank to disable saving",
    "user": "opensea",
    "password": "password",
    "database": "opensea"
  },
  "floorChange": "Discord webhook URL for when floor price changes",
  "floorThreshold": "Discord webhook URL for when floor price goes over min or under max threshold (set threshold to 0/9999 to disable)",
  "slug": "OpenSea slug (eg. wilderbeasts-wolf)",
  "contractAddress": "NFT contract address",
  "LREnabled": false,
  "thresholdText": "additional text to send (can be @everyone ping or something like that), set to empty to disable",
  "minThreshold": 0.1,
  "maxThreshold": 1,
  "port": "80 (set to empty string or 0 to disable web graph)",
  "interval": 5,
  "webMaxEntries": 1440
}