{
  "database": {
    "host": "database host - if you are not using a database, leave this field blank to disable saving",
    "user": "opensea",
    "password": "password",
    "database": "opensea"
  },
  "floorChange": "Discord webhook URL for when floor price changes",
  "floorLow": "Discord webhook URL for when floor price drops below threshold (set threshold to 0 to disable)",
  "slug": "OpenSea slug (eg. wilderbeasts-wolf)",
  "contractAddress": "NFT contract address",
  "ownerId": "discord ID of user to mention, set empty to disable",
  "threshold": 0.155,
  "port": "80 (set to empty string or 0 to disable web graph)",
  "interval": 5
}